/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


hr{
border-top : 1px solid black !important;
}

.menu_bar{
height:9%;
width:100%;
background-color:#0D3B63;
}
#ces_logo,#date_and_time{
float:left;
width:25%;
height:100%;
}

#heading{
height:100%;
float:left;
width:50%;
color:white !important;
font-size:25px;
text-align:center;
padding-top:10px;

font-family:-webkit-pictograph;
}
.main_content{
padding:20px;
height:91%;
width:97%;
}
#main_content_heading{
padding-bottom:15px;
font-size:28px;
}
#field1,#field2,#field3,#field4{
margin-right:45px;


}
#date,#time{
height:50%;
padding-left:120px;
}

.bookings{
    width: 80%;
    float: left;
    margin-top: 10px;
}
#booking1{
margin-top:10px;
}

.field5{
width: 20%;
float:right;

}
.booking_divisions{
height:40px;
margin-bottom:20px;
}

.approve{
    cursor: pointer;
    border-radius: 5px;
    border-color: green;
    text-align: center;
    width: 80px;
    height: 25px;
    padding: 3px;
    background-color: green;
    color: white;
}
.recieve{
    margin-left: 5px;
    border-radius: 5px;
    border-color: #D88711;
    text-align: center;
    width: 80px;
    height: 25px;
    padding: 3px;
    background-color: #D88711;
    color: white;
}
#date_and_time{
padding-top:8px;
color:white;


}
.manage_app_main{
margin-bottom: 30px;
    font-size: 20;
}

label {
    float: left;
    width: 250px !important;
}
#room_form p{
margin:25px;
}
#room_form input{
width :200px;

}


.admin_button_main{
float:left;
margin-top: -3px;

}
#go{
cursor:pointer;
margin-left:30px;
width:150px;
height:30px;
border-radius:10px;
background-color:#0D3B63;
border-color:#0D3B63;
color:white;
}
.admin_date_main{
    height: 90px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.admin_date_selection_text{
float:left;
font-size:20px;

}
.admin_date_selection_dropdown{

padding-left:20px;
float:left;

}
.admin_date_selection_dropdown_class{
width:150px;
font-size:16px;
}
:disabled {
    color:grey !important;
	cursor:no-drop !important;
}
