*{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#status{
    font-size: 30px;
    height: 40px;
    color: green;
}
.room_text,.room_option,.date_text,.date_option{
width:50%;
float:left;
padding:10px;
}
.device_date_text,.device_date_dropdown{
margin-top:10px;
float:left;



}
#booking_time_heading{
font-size:15px;
font-weight:bold;
}
.device_date_text{
font-size:15px;
}

#device_form_details{
margin-top:40px;
}
#device_form_details p{
margin:20px;
}
.device_modal_footer{
margin-top:10px;
}
.device_end_time{
margin-left:10px;
}
.device_images_main{
   /*  border-top: 2px solid #08233E; */
    margin-top: 40px;
    padding-top: 25px;
}

}


#device_close{

margin-right:200px;
}
#ces_main_logo{

    width: 250px;
    float: left;
}

body{
background:rgba(23, 23, 23, 0.91) !important;
margin:0;
padding:0;
font-family: 'Scada', sans-serif !important;
}
.home_page_wrapper{
    background-repeat: no-repeat;
    background-size: cover;
	background-image:url('body_blur_background.jpg');
width:100%;
height:100%;


}
/* a:hover {
    text-decoration: none !important;
    color: white !important;
	} */
	
#ipadair2{
cursor:pointer;
}

.device_images_main img{
padding:18px;
}
/* .wrapper{
width: 1040px;
height: 665px;
margin: 0 auto;
background : rgba(0, 0, 0, 0.42) url('image1.jpg') no-repeat center;
background-size: 96% 94%;
overflow:hidden;
padding:20px;

} */
.footer{
    
    float: left;
    width: 100%;
background:rgba(0, 0, 0, 0.4) ;
color:white;
    padding: 5px 20px;
	font-size:16px !important;
	
	
}
 .footer p {
    margin: 12px 0;
} 

#device_main_img{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
display:none;

}

.main_content{
width:775px;
height:543px;
float:left;
margin-left:200px;
}

.heading_content{
       /* color: #1B8CFB; */
	   color:rgb(0, 0, 0);
    font-size: 45px;
	    font-weight: bold;
}
.left_contentDiv{
margin-top:200px;
float:left;

}

.right_contentDiv{
float:right;
    width: 510px;
	    height: 150px;
		margin-top:200px;
}
.content_left{
float:left;
}
.content_right{
float:right;
}
.btnsWrap{
	float:left;
	width:250px;
	padding: 26px 0;
	font-size:16px !important;
	cursor:pointer;
	}
.btnsWrap2{
    float: right;
    width: 250px;
    padding: 26px 0;
    font-size: 16px !important;
	cursor:pointer;
	}
.use_a_device{
	float:right;
	width:250px;
	height:40px;
	margin-bottom:2px;
	background: rgba(255, 255, 255, 0.74);
	color:#fff;
	line-height:40px;
	text-decoration:none;
	padding-top:0;
	position:relative;
	border:none;
	cursor:pointer;
	color:black;
    font-size: 16px;
    font-family: 'Scada', sans-serif;
	color: black;
    font-weight: bold;
    text-align: center;
}
	
.btnsWrap a *, .btnsWrap a {
	-webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.use_a_room {


	float:right;
	width:250px;
	height:40px;
	margin-bottom:2px;
	background: rgba(255, 255, 255, 0.74);
	color:#fff;
	line-height:40px;
	text-decoration:none;
	padding-top:0;
	position:relative;
	border:none;
	cursor:pointer;
	color:black;
    font-size: 16px;
    font-family: 'Scada', sans-serif;
	color: black;
    font-weight: bold;
    text-align: center;
}

/* .btnsWrap a:hover{
	width:280px;
}

.btnsWrap a:hover span.arrow{
	opacity:0;
}
.btnsWrap a:hover span.imgWrap{

	-ms-transform: scale(1,1); /* IE 9 */
    /* -webkit-transform: scale(1,1);  *//* Safari */
   /*  transform: scale(1,1); */ /* Standard syntax */
	/* opacity:1; */
	/* right: -110px; */
/* }  */


.btnsWrap a span.arrow{
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:36px;
	background: url("arrow.png") no-repeat center center;
}

.btnsWrap2 button span.arrow2{
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:36px;
	background: url("arrow.png") no-repeat center center;
}

.btnsWrap a span.imgWrap{
	position: absolute;
    
	right: -20px;
    top: -20px;
    height: 80px;
    width: 120px;
       border: 1px solid #5A5A5A;
    background: rgba(0, 127, 177, 0.8);
    
	
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);

	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0); /* Standard syntax */
	opacity:0;
}

.btnsWrap a span.imgWrap img{
	width:100%;
	height:100%;
}
.queries{
width:300px;
height:100px;
}
.bookings p{
padding:auto 30px;
}

#bookings_head{
        width: 400px;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: white;

}


.bookings{
    float: right;
    color: white;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    height: 370px;
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Scada', sans-serif;
    color: black;
    font-size: 20px;
}

.room_header{
padding: 10px 20px;
float:left;
width:100%;
height: 80px;
background:rgba(0, 0, 0, 0.4);
color:white;
display:none;
}
.room_Carousel{
clear:both;
}

.room_main_wrapper{
    width: 100%;
    background: url('black_background.jpg');
    background-repeat: round;
    padding-bottom: 30px;
   
    height: 145%;
    
}

.room_wrapper{
width: 1040px;
height:auto;
margin: 0 auto;
background : rgba(27, 22, 22, 0.42);
overflow:hidden;
padding:20px;

}

.bookings_section{
height:350px;
padding:30px;
}

 .carousel-inner>.item>img{
 
 height:320px !important;
 width:100% !important;
 }

#myCarousel{
       padding: 0 20 20 20px;
    
    width: 100% !important;
	}
	
#bookings_button{
height:auto;
}
#bookings_confirm_section{
    margin-top: 30px;
    height: auto;

}
.time_button{
  width: 70px;
    background-color: #3e9d44;
    line-height: 20px;
    padding: 2px;
    
    margin: 10px;
    color: #ffffff;
    border:0px ;
}
.time_button_final{
    width: 70px;
    background-color: #3e9d44;
    line-height: 20px;
    padding: 2px;

    margin: 10px;
    color: #ffffff;
    border:0px ;
	}
.room_header{
    float: left;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.05);
    color: white;
    z-index: 99999;

    margin-top: 20px;

}
.room_header img{
    height: 58px;
}
#room_header_logo{
float:left;
width: 100px;
width:30%;
}
#room_header_text{
float:right;
width:860px;
font-family: 'Patua One', cursive;
letter-spacing:2px;



}
#room_main_heading{
font-size:28px;
font-weight:normal;
    margin-top: 10px;
    
	text-align:center;
	   float: left;
	   width:40%
}
#room_dateandtime{
padding-left:190px;
width:30%;
    float:left;
	top:0;
	right:0;
    font-size: 14px;
	text-align:center;
	font-family: 'Scada', sans-serif;
}
.room_footer{
    
    background-color: rgba(8, 8, 8, 0.13);
    float: left;
    width: 100%;
    /* background: rgba(88, 83, 83, 0.9) url('pattern.jpg'); */
    color: white;
    padding: 20px 35px;
    /* margin-top: 10px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
	margin-top:30px;
}

.fbh_modal_text{
/* color:green;
font-size:18px; */

display:none;
}
.duration_select_span{
display:none;
}
	
	#ces_logo{
	    cursor: pointer;
	}
	#bookings_button h3{
   /* color: white; */
    font-size: 20px;
    text-decoration: underline;
    margin-left: 10;
    margin-bottom: 20px;
    color: #337ab7;
	
	}
#fbh{
margin-left:30px;
color:#D06517 !important;
}
#fbh:hover{
color: #FF6C00 !important;
}

#eof-link{
cursor:pointer;
}
#pof-link{
cursor:pointer;
}

 .room_footer p {
    margin: 15px 0 !important;
} 

.book_now_section{
text-align:center;

}
.book_now{
	margin: 0 auto;
    
    width: 100px;
    text-align: center;
    border: 0px ;
    background-color: rgb(82, 77, 77);
    color: whitesmoke;
    height: 35px;
    font-size: 17px;
	}
.booking_information_section{
margin-top: 60px;
    margin-left: 515px;
}
#booked{
width:20px;
height:20px;
background-color:red;
float:left;
}
#hold{
width:20px;
height:20px;
background-color:rgb(82, 77, 77);
margin-left:20px;
float:left;
}
#available{
width:20px;
height:20px;
background-color:green;
margin-left:20px;
float:left;
}
#hold_text{
color:#ffffff;
margin-left:4px;
font-size:16px;
}
#booked_text{
color:#ffffff;
margin-left:4px;
font-size:16px;
}
#available_text{
color:#ffffff;
margin-left:4px;
font-size:16px;
}
.list-inline{
    text-align: center;
    margin-top: 50px;

}

button[disabled], html input[disabled] {
    cursor: no-drop;
    opacity: 0.3;
}
.time_duration_radio{
margin-top:25px;
}
input[type=checkbox], input[type=radio] {
    margin: 10px 5px !important;
	}
#user_form{
margin-top:15px;
}
.modal-content{
color:#000000 !important;
}
#projector_use{
margin-top:5px;
}
#name_details{
margin-top:35px;
}
input{
margin-left:15px;

}
.form-control{
width:40% !important;
}
.modal{
z-index:99999;
}
label{
float:left;
width: 150px !important;
}
.buttons{
padding-top:20px;
padding-left:200px;
}
#popup{
margin:0px auto;
top:17%;
    position: fixed;
    z-index: 99999;
    background: #fff;
    display: none;
    
    
    width: 500px;
    height: 390px;
    border: 0px;
    border-radius: 5px;
    
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 10px;
    color: black;
}
#popup2{
margin:0px auto;
top:17%;
       position: fixed;
    z-index: 99999;
    background: #fff;
    display: none;
    
    
    width: 600px;
    height: 445px;
    border: 0px;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 4px;
    color: black;
}
.modal-title{
margin-bottom: 21px;
}
#roomModal{
margin-top:155px;


}
#room_initial_close{
margin-right:227px;
}

.room_modal_body{
    height: 110px;
    padding: 20px;

}

#countdown_timer{
 position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 7px 9px 9px 9px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
   
	}
	.modal-header{
	height:60px;
	}
	#countdown_timer{
	position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    padding: 9px 9px 9px 9px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.26);
    border: 0px !important;
    margin-left: 250px;
    cursor: default;
	}
	.dialog h5{
	
	font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
	
	
	}
	.details1{
	margin-top:25px;
	}
	.details2{
	margin-top:25px;
	}
	#conf_book_name,#conf_dura_time,#conf_book_name2,#conf_dura_time2,#conf_meet_purp,#conf_meet_mem,#conf_proj_need,#conf_book_email,#conf_book_password{
	margin-top:30px;
	}
	#conf_book_label2,#conf_dura_label2,#conf_book_label,#conf_dura_label,#conf_meet_label,#conf_mem_label,#conf_proj_label,#conf_email_label,#booking_password_label{
	font-weight:bold;
	font-size:16px;
	}
	#form_field_one,#form_field_two,#form_field_three,#form_field_four{
	margin: 30 0 18px !important;
	} 
	.popup2_buttons{
	    margin-top: 40px;
    margin-left: 180px;
	}
	
	.note_your_password{
	font-size: 10;
    margin-top: 30;
	}
	#note{
	font-size:10px;
	
	}
	
	.room_initial_selection,.date_initial_Selection,.device_date_initial_Selection{
	width: 200px;
    margin-left: 20px;
	}
	
	.atces{
    position: absolute;
    top: 335px;
    right: 136px;
    -webkit-user-select: none;
    -moz-user-select: none;
    direction: ltr;
    padding-right: 0px;
	}
  #uname,#meeting,#useremail{
  width: 200px;
  }
/* #useremail{
    padding-right: 82px;
	}  */
	/* #meetpurp{
	color:transparent;
	
	} */
    #booking_password_text{
	font-size:15px;
	font-style:bold;
	}
	
	#cancel_final{
	    margin-top: 20px;
    margin-left: 200px;
	
	}
	#cancel_box{
	margin-top:45px;
	}